In [2]:
import pandas as pd

df = pd.read_csv('../../data/modified/PCA_3_df.csv')
df.head()

,Life_Stage,RP건수_B0M,RP건수_가스_B0M,RP건수_건강_B0M,RP건수_교통_B0M,RP건수_렌탈_B0M,RP건수_보험_B0M,RP건수_아파트_B0M,RP건수_유선방송_B0M,RP건수_전기_B0M,...,연령_40,연령_50,연령_60,연령_70,이용금액대,직장시도명,PC1,PC2,PC3,target
0,5,2,0,0,0,0,1,0,0,0,...,1,0,0,0,5,0,-3.010090,0.099855,-0.058170,2
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,1,-1.777381,-0.978568,-0.383604,1
2,4,0,0,0,0,0,0,0,0,0,...,1,0,0,0,2,5,-3.825666,0.729603,0.133052,0
3,4,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,5,-3.914116,0.804384,0.144837,0
4,5,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,13,-4.097461,0.945743,0.176977,1

In [4]:
df.columns

Index(['Life_Stage', 'RP건수_B0M', 'RP건수_가스_B0M', 'RP건수_건강_B0M', 'RP건수_교통_B0M',
       'RP건수_렌탈_B0M', 'RP건수_보험_B0M', 'RP건수_아파트_B0M', 'RP건수_유선방송_B0M',
       'RP건수_전기_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_통신_B0M', 'RP건수_학습비_B0M',
       'RP유형건수_B0M', '_1순위교통업종_버스지하철', '_1순위교통업종_없음', '_1순위교통업종_정비',
       '_1순위교통업종_주유', '_1순위교통업종_철도버스', '_1순위교통업종_택시', '_1순위납부업종_가스/전기료',
       '_1순위납부업종_관리비', '_1순위납부업종_납부기타', '_1순위납부업종_보험료', '_1순위납부업종_없음',
       '_1순위납부업종_통신비', '_1순위쇼핑업종_도소매', '_1순위쇼핑업종_마트', '_1순위쇼핑업종_백화점',
       '_1순위쇼핑업종_쇼핑기타', '_1순위쇼핑업종_슈퍼마켓', '_1순위쇼핑업종_아울렛', '_1순위쇼핑업종_없음',
       '_1순위쇼핑업종_온라인', '_1순위쇼핑업종_편의점', '_1순위업종_교육', '_1순위업종_교통', '_1순위업종_납부',
       '_1순위업종_사교활동', '_1순위업종_쇼핑', '_1순위업종_여유생활', '_1순위업종_요식', '_1순위업종_의료',
       '_1순위업종_일상생활', '_1순위업종_해외', '_2순위쇼핑업종_도소매', '_2순위쇼핑업종_마트',
       '_2순위쇼핑업종_백화점', '_2순위쇼핑업종_쇼핑기타', '_2순위쇼핑업종_슈퍼마켓', '_2순위쇼핑업종_아울렛',
       '_2순위쇼핑업종_없음', '_2순위쇼핑업종_온라인', '_2순위쇼핑업종_편의점', '_2순위업종_교육', '_2순위업종_교통',
       '_2순위업종_납부', '_2순위업종_사교활동', '_2순위업종_쇼핑', '_2순위업종_없음', '_2순위업종_여유생활',
       '_2순위업종_요식', '_2순위업종_의료', '_2순위업종_일상생활', '_2순위업종_해외', '_3순위업종_교육',
       '_3순위업종_교통', '_3순위업종_납부', '_3순위업종_사교활동', '_3순위업종_쇼핑', '_3순위업종_없음',
       '_3순위업종_여유생활', '_3순위업종_요식', '_3순위업종_의료', '_3순위업종_일상생활', '_3순위업종_해외',
       '거주시도명', '남녀구분코드', '연령_20', '연령_30', '연령_40', '연령_50', '연령_60', '연령_70',
       '이용금액대', '직장시도명', 'PC1', 'PC2', 'PC3', 'target'],
      dtype='object')

In [5]:
df.loc[df["연령_20"] == 1]

,Life_Stage,RP건수_B0M,RP건수_가스_B0M,RP건수_건강_B0M,RP건수_교통_B0M,RP건수_렌탈_B0M,RP건수_보험_B0M,RP건수_아파트_B0M,RP건수_유선방송_B0M,RP건수_전기_B0M,...,연령_40,연령_50,연령_60,연령_70,이용금액대,직장시도명,PC1,PC2,PC3,target
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,5,5,7.902496,0.268544,3.169937,1
28,2,3,0,0,3,0,0,0,0,0,...,0,0,0,0,4,0,6.852482,-1.991901,0.803347,1
35,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,-0.882389,-1.083020,-0.062372,1
36,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,-3.845204,0.749235,0.121285,0
40,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,2,0.377334,4.115064,-5.112708,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396268,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,17,-3.735823,0.659195,0.118059,0
2396276,2,2,0,0,2,0,0,0,0,0,...,0,0,0,0,1,3,-3.786370,0.679272,0.099251,0
2396280,2,5,1,0,2,0,0,0,0,0,...,0,0,0,0,4,13,3.228152,-1.286201,0.438530,1
2396285,2,1,0,0,1,0,0,0,0,0,...,0,0,0,0,4,1,6.372409,6.295905,7.981430,1
2396317,1,1,0,0,1,0,0,0,0,0,...,0,0,0,0,2,4,-0.841450,0.731822,0.717657,1